<h1 style="color:darkgoldenrod">Choose Your Category</h1>

<div class="navbar-collapse collapse">
    <h2><ul>
        <li>@Html.ActionLink("Search Record", "Search", "Menu")</li><br/>
        <li>@Html.ActionLink("Student Records", "StudTable", "Menu")</li><br/>
        <li>@Html.ActionLink("Multi Table", "MultiList", "Menu")</li><br/>

        
        <li>@Html.ActionLink("Return Data", "SearchForReturn", "Menu")</li>

    </ul>

    </h2>
    
</div>
