<html>
<body>
    <div>
        <section>
            @using (Html.BeginForm("SearchResult", "Menu"))
            {
                <p> Enter the Id:</p> <input type="number" name="id" required /> <br />

                <input type="submit" value="search" />
            }
        </section>
    </div>
    <p>

        @Html.ActionLink("GO BACK", "BackButtonForMenu", "Route")
    </p>
</body>
</html>