@model DapperFinal.Models.Student

@if (Model.Id == -1)

{
    <div class="jumbotron text-center"><h5>No Record Found........</h5></div>
}
else
{
    <div>
        <h2>Student</h2>
        <hr>

        <h3> Student Name:&nbsp;    @Model.Name  </h3>

    </div>
    <br/>
    <p>

        @Html.ActionLink("GO BACK", "BackButton", "Route")
    </p>
    @Html.ActionLink("GO BACK TO MENU PAGE", "BackButtonForMenu", "Route")

}